@model EditCourseViewModel
@{
    Layout = "_LayoutAdmin";
}
<style>
    table {
        table-layout: fixed;
    }

    td, th {
        word-wrap: break-word;
    }
</style>
<form asp-controller="Admin" asp-action="EditCourseName" method="post">
    <input type="hidden" name="previousName" value="@Model.Course.Name" />
    <div class="form-row">
        <div class="form-group col-md-12">
            <label name="newName"><strong>Nazwa kierunku</strong></label>
            <input name="newName" value="@Model.Course.Name" maxlength="50" type="text" class="form-control" placeholder="Podaj nazwę kierunku" required autocomplete="off">
            <small class="form-text text-muted ml-1">
                Podana nazwa może mieć maksymalnie 50 znaków.
            </small>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Zmień</button>
    </div>
</form>

<!--Specjalizacje 1 st. tabela-->
<table id="specialities1Table" class="table table-striped" style="border-top: 3px solid grey; margin-top:60px;">
    <thead>
        <tr>
            <th scope="col">Lista Specjalizacji Pierwszego Stopnia</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Course.FirstDegreeSpecialties.OrderBy(x => x))
        {
            <tr>
                <td>@v</td>
                <td class="align-content-center justify-content-center text-center">
                    <form asp-controller="Admin" asp-action="DeleteSpeciality" method="post">
                        <div class="row">
                            <input type="hidden" name="scroll" value="specialities1Table" />
                            <input type="hidden" name="courseName" value="@Model.Course.Name" />
                            <input type="hidden" name="spec" value="@v" />
                            <input type="hidden" name="degree" value="1" />

                            <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń" style="margin-left: 15px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </button>
                        </div>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<!--Specjalizacje 1 st. formularz-->
<form style="margin-bottom:60px;" asp-controller="Admin" asp-action="AddSpeciality" method="post">
    <input type="hidden" name="scroll" value="specialities1Table" />
    <input type="hidden" name="courseName" value="@Model.Course.Name" />
    <input type="hidden" name="degree" value="1" />
    <div class="form-row">
        <div class="form-group col-12">
            <label>Nazwa specjalizacji</label>
            <input type="text" name="spec" class="form-control" placeholder="Podaj nazwę specjalizacji drugiego stopnia" style="width: 100%;" required autocomplete="off">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="align-content-center justify-content-center text-center" style="width: 100%;">
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <span>Dodaj specjalizacje</span>
            </button>
        </div>
    </div>
</form>

<!--Specjalizacje 2 st. tabela-->
<table id="specialities2Table" class="table table-striped" style="border-top: 3px solid grey; margin-top:60px;">
    <thead>
        <tr>
            <th scope="col">Lista Specjalizacji Drugiego Stopnia</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Course.SecondDegreeSpecialties.OrderBy(x => x))
        {
            <tr>
                <td>@v</td>
                <td class="align-content-center justify-content-center text-center">
                    <form asp-controller="Admin" asp-action="DeleteSpeciality" method="post">
                        <div class="row">
                            <input type="hidden" name="scroll" value="specialities2Table" />
                            <input type="hidden" name="courseName" value="@Model.Course.Name" />
                            <input type="hidden" name="spec" value="@v" />
                            <input type="hidden" name="degree" value="2" />

                            <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń" style="margin-left: 15px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Specjalizacje 2 st. formularz-->
<form style="margin-bottom:60px;" asp-controller="Admin" asp-action="AddSpeciality" method="post">
    <input type="hidden" name="scroll" value="specialities2Table" />
    <input type="hidden" name="courseName" value="@Model.Course.Name" />
    <input type="hidden" name="degree" value="2" />
    <div class="form-row">
        <div class="form-group col-12">
            <label>Nazwa specjalizacji</label>
            <input type="text" name="spec" class="form-control" placeholder="Podaj nazwę specjalizacji drugiego stopnia" style="width: 100%;" required autocomplete="off">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="align-content-center justify-content-center text-center" style="width: 100%;">
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <span>Dodaj specjalizacje</span>
            </button>
        </div>
    </div>
</form>

<div class="row mx-1" style="border-top: 3px solid grey; margin-top: 15px;">
    <div class="col-12 text-center">
        <a class="btn btn-primary btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Lista przedmiotów" asp-controller="Admin" asp-action="SubjectsList" asp-route-course="@Model.Course.Name" style="margin-top: 15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
            Lista przedmiotów
        </a>
    </div>
</div>

<!--Plan zajęć tabela-->
<table id="studentsTimetableTable" class="table table-striped" style="border-top: 3px solid grey; margin-top: 15px;">
    <thead>
        <tr>
            <th scope="col">Lista Planów Zajęć</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.StudentsTimetables)
        {
            <tr>
                <td><a href="@v.Timetable" target="_blank">Stopień: @v.Degree Semestr: @v.Semester</a></td>
                <td class="align-content-center justify-content-center text-center">
                    <form asp-controller="Admin" asp-action="DeleteTimetable" method="post"> 
                        <div class="row">
                            <input type="hidden" name="scroll" value="studentsTimetableTable" />
                            <input type="hidden" name="courseName" value="@Model.Course.Name" />
                            <input type="hidden" name="studentsTimetableId" value="@v.Id" />

                            <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń" style="margin-left: 15px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Plan zajęć formularz-->
<form style="margin-bottom:60px;" asp-controller="Admin" asp-action="AddTimetable" method="post">
    <input type="hidden" name="scroll" value="studentsTimetableTable" />
    <input type="hidden" name="studentsTimetable.Course" value="@Model.Course.Name" />
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Semestr</label>
            <input name="studentsTimetable.Semester" type="number" min="1" max="10" class="form-control" placeholder="Podaj semestr" required autocomplete="off"/>
        </div>
        <div class="form-group col-md-3">
            <label>Stopień</label>
            <input name="studentsTimetable.Degree" type="number" min="1" max="2"class="form-control" placeholder="Podaj stopień" required autocomplete="off"/>
        </div>
        <div class="form-group col-md-6">
            <label>Link do planu</label>
            <input name="studentsTimetable.Timetable" type="url" class="form-control" placeholder="Podaj link do planu zajęć" required autocomplete="off"/>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
            </svg>
            <span>Dodaj plan</span>
        </button>
    </div>
</form>

<!--Plany studiów tabela-->
<table id="studentsStudyPlansTable" class="table table-striped" style="border-top: 3px solid grey; margin-top: 15px;">
    <thead>
        <tr>
            <th scope="col">Programy Studiów</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.StudyPlans)
        {
            <tr>
                <td><a href="~/files/studyPlans/@Model.Course.Name/@v" target="_blank">@v</a></td>
                <td class="align-content-center justify-content-center text-center">
                    <form asp-controller="Admin" asp-action="DeleteStudyPlan" method="post">
                        <div class="row">
                            <input type="hidden" name="scroll" value="studentsStudyPlansTable" />
                            <input type="hidden" name="courseName" value="@Model.Course.Name" />
                            <input type="hidden" name="file" value="@v" />

                            <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń" style="margin-left: 15px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Plany studiów formularz-->
<form asp-controller="Admin" asp-action="AddStudyPlan" enctype="multipart/form-data" method="post">
    <input type="hidden" name="scroll" value="studentsStudyPlansTable" />
    <input type="hidden" name="courseName" value="@Model.Course.Name" />
    <div class="form-row">
        <div class="col-12">
            <div class="form-group">
                <input name="file" type="file" class="form-control-file" accept=".pdf" required />
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="align-content-center justify-content-center text-center" style="width: 100%;">
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <span>Dodaj program</span>
            </button>
        </div>
    </div>
</form>