@model RMSmax.Models.ViewModels.Admin.EditArticleViewModel
@{
    Layout = "_LayoutAdmin";
}

<form asp-controller="Admin" asp-action="EditArticle" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Article.Id" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Article.Title">Tytuł</label>
            <input asp-for="Article.Title" type="text" class="form-control" placeholder="Podaj tytuł artykułu" required autocomplete="off">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Article.Author">Autor</label>
            <input asp-for="Article.Author" type="text" class="form-control" placeholder="Podaj imię i nazwisko autora" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="PhotoIn">Zdjęcie wewnętrzne</label>
            <input asp-for="PhotoIn" type="file" class="form-control-file" accept="image/*" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PhotoCover">Zdjęcie aktualnościowe</label>
            <input asp-for="PhotoCover" type="file" class="form-control-file" accept="image/*" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">


            @{ if (string.IsNullOrEmpty(Model.Article.PhotoIn))
                {
                    <p>Aktualne zdjęcie wewnętrzne: Brak</p>
                }
                else
                {
                    string picfile = "/pictures/picsArticle/" + Model.Article.Id + "/" + @Model.Article.PhotoIn;
        <div class="row">
            <p class="ml-3">
                Aktualne zdjęcie wewnętrzne:
                
            </p>
        </div>
        <div class="row">
            <img class="ml-3" src="@picfile" height="220" width="270" />
        </div>
                    
                }
            }
        </div>
        <div class="form-group col-md-6">

            @{ if (string.IsNullOrEmpty(@Model.Article.PhotoCover))
                {
                    <p>Aktualne zdjęcie aktualnościowe: Brak</p>
                }
                else
                {
                    string picfile = "/pictures/picsArticle/" + Model.Article.Id + "/" + @Model.Article.PhotoCover;
        <div class="row">
            <p class="ml-3">
                Aktualne zdjęcie aktualnościowe:
                
            </p>
        </div>
        <div class="row">
            <img class="ml-3" src="@picfile" height="220" width="270" />
        </div>
                    
                }
            }
        </div>
                </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Article.Content" style="font-weight: bold;">Treść artykułu</label>
            <textarea asp-for="Article.Content" id="editor" required placeholder="Podaj treść artykułu" autocomplete="off"></textarea>
        </div>
    </div>




    <div class="form-group text-center">
        <a role="button" type="button" class="btn btn-danger" asp-controller="Admin" asp-action="ArticleList">Anuluj</a>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: {
                items: ['heading', '|',
                    'undo', 'redo', '|',
                    'bold', 'italic', 'underline', 'fontFamily', 'fontBackgroundColor', 'fontColor', 'removeFormat', '|',
                    'bulletedList', 'numberedList', 'indent', 'outdent', '|',
                    'alignment', 'link', '|',
                    'insertTable', 'tableColumn', 'tableRow', 'mergeTableCells', 'tableCellProperties', 'tableProperties'],
                shouldNotGroupWhenFull: true
            }
        })
        .catch(error => {
            console.log(error);
        });

</script>