@model EmployeesListViewModel
@{
    Layout = "_LayoutAdmin";
}
<form asp-controller="Admin" asp-action="EmployeeList" method="get">
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-lg-5 col-md-6">
            <input type="text" name="name" class="form-control" placeholder="Imię" aria-label="Imię" style="margin-bottom: 18px;" autocomplete="off">
        </div>
        <div class="col-lg-5 col-md-6">
            <input type="text" name="surname" class="form-control" placeholder="Nazwisko" aria-label="Nazwisko" style="margin-bottom: 18px;" autocomplete="off">
        </div>
        <div class="col-lg-2 col-md-12 text-center">
            <button role="button" class="btn btn-primary">Wyszukaj</button>

        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Prowadzący</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Employees)
            {
            <tr>
                <td>@string.Concat(v.Degree, " ", v.Name, " ", v.LastName, " ") &#60;@v.Mail&#62;</td>
                <td>
                <form asp-controller="Admin" asp-action="DeleteEmployee" method="post">
                    <div class="row">
                        <a class="btn btn-info btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Edytuj" asp-controller="Admin" asp-action="EditEmployee" asp-route-id="@v.Id" style="margin-right:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                        </a>

                        <input type="hidden" name="id" value="@v.Id" />
                        <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </button>
                    </div>
                </form>
                </td>
            </tr>
            }
    </tbody>
</table>

<div class="row align-content-center justify-content-center">
    <a class="btn btn-success" role="button" asp-controller="Admin" asp-action="AddEmployee">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
        <span>Dodaj</span>
    </a>
</div>

<div page-model="@Model.PagingInfo" page-action="EmployeeList" page-argument-name="@Model.CurrentSearchingName" page-argument-surname="@Model.CurrentSearchingSurname" class="btn-group pull-right m-1"></div>
