@model IndexViewModel
@{
    Layout = "_LayoutAdmin";
}

<style>
    table {
        table-layout: fixed;
    }

    td, th {
        word-wrap: break-word;
    }
</style>

<form asp-controller="Admin" asp-action="EditFacultyInfo" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Faculty.Name">Nazwa</label>
        <input asp-for="Faculty.Name" type="text" maxlength="20" class="form-control" placeholder="Nazwa wydziału" required autocomplete="off">
        <small class="form-text text-muted ml-1">
            Podana nazwa może mieć maksymalnie 20 znaków.
        </small>
    </div>
    <div class="form-group">
        <label asp-for="Faculty.Street">Adres</label>
        <input asp-for="Faculty.Street" type="text" class="form-control" placeholder="Podaj ulicę i numer" required autocomplete="off">
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="Faculty.City">Miasto</label>
            <input asp-for="Faculty.City" type="text" class="form-control" placeholder="Podaj miasto" required autocomplete="off">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Faculty.State">Województwo</label>
            <select class="form-control" asp-for="Faculty.State" required autocomplete="off">
                <option selected></option>
                <option>Dolnośląskie</option>
                <option>Kujawsko-pomorskie</option>
                <option>Lubelskie</option>
                <option>Lubuskie</option>
                <option>Łódzkie</option>
                <option>Małopolskie</option>
                <option>Mazowieckie</option>
                <option>Opolskie</option>
                <option>Podkarpackie</option>
                <option>Podlaskie</option>
                <option>Pomorskie</option>
                <option>Śląskie</option>
                <option>Świętokrzyskie</option>
                <option>Warmińsko-mazurskie</option>
                <option>Wielkopolskie</option>
                <option>Zachodniopomorskie</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Faculty.Postcode">Kod pocztowy</label>
            <input asp-for="Faculty.Postcode" type="text" class="form-control" placeholder="xx-xxx" pattern="^\d{2}-\d{3}$" required autocomplete="off">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Faculty.Phone">Telefon</label>
            <input asp-for="Faculty.Phone" type="tel" class="form-control" placeholder="Numer telefonu" required autocomplete="off">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Faculty.Email">Email</label>
            <input asp-for="Faculty.Email" type="email" class="form-control" placeholder="Email" required autocomplete="off">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="Faculty.MapSource">Mapa</label>
            <input asp-for="Faculty.MapSource" type="url" class="form-control" placeholder="Podaj adres url mapy" required autocomplete="off">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Faculty.Color">Motyw</label>
            <input asp-for="Faculty.Color" type="color" class="form-control" required>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="LogoFile">Logo</label>
            <input asp-for="LogoFile" type="file" class="form-control-file" accept="image/*" />
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Faculty.Courses" type="hidden" />
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>

<div class="row" style=" border-top: solid 2px grey;">
    <div class="col-lg-4">
        <form asp-controller="Admin" asp-action="UploadSliderPhoto" enctype="multipart/form-data" method="post">
            <div class="form-row my-3 py-3" >
                <div class="form-group mx-auto">
                    <label for="photo">Zdjęcie slidera strony głównej nr 1</label>
                    <input name="photo" value="@Model.SliderPhoto" type="file" class="form-control-file" accept="image/*" />
                    <input type="hidden" value="1" name="id"/>
                </div>
            </div>
            <div class="form-row">
                @{if(string.IsNullOrEmpty(Model.SliderPic1))
                  {
                      <p class="mx-auto">Aktualne zdjęcie: Brak</p>
                  }
                  else
                  {
                      string picfile = "/pictures/picsSlider/1/"+ Model.SliderPic1;
                      <p class="mx-auto">
                          Aktualne zdjęcie:
                          <img src="@picfile" height="100" width="200" />
                      </p>
                  }
                }
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4">
        <form asp-controller="Admin" asp-action="UploadSliderPhoto" enctype="multipart/form-data" method="post">
            <div class="form-row my-3 py-3" >
                <div class="form-group mx-auto">
                    <label for="photo">Zdjęcie slidera strony głównej nr 2</label>
                    <input name="photo" value="@Model.SliderPhoto" type="file" class="form-control-file" accept="image/*" />
                    <input type="hidden" value="2" name="id" />
                </div>
            </div>
            <div class="form-row">
                @{if(string.IsNullOrEmpty(Model.SliderPic2))
                  {
                      <p class="mx-auto">Aktualne zdjęcie: Brak</p>
                  }
                  else
                  {
                      string picfile = "/pictures/picsSlider/2/" + Model.SliderPic2;
                      <p class="mx-auto">
                          Aktualne zdjęcie:
                          <img src="@picfile" height="100" width="200" />
                      </p>
                  }
                }
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4">
        <form asp-controller="Admin" asp-action="UploadSliderPhoto" enctype="multipart/form-data" method="post">
            <div class="form-row my-3 py-3" >
                <div class="form-group mx-auto">
                    <label for="photo">Zdjęcie slidera strony głównej nr 3</label>
                    <input name="photo" value="@Model.SliderPhoto" type="file" class="form-control-file" accept="image/*" />
                    <input type="hidden" value="3" name="id" />
                </div>
            </div>
            <div class="form-row">
                @{if(string.IsNullOrEmpty(Model.SliderPic3))
                  {
                      <p class="mx-auto">Aktualne zdjęcie: Brak</p>
                  }
                  else
                  {
                      string picfile = "/pictures/picsSlider/3/" + Model.SliderPic3;
                      <p class="mx-auto">
                          Aktualne zdjęcie:
                          <img src="@picfile" height="100" width="200" />
                      </p>
                  }
                }
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </form>
    </div>
</div>

<div class="row align-content-center justify-content-center" style="border-bottom: solid 2px grey; border-top: solid 2px grey;">
    <div class="col-10" style="padding-top: 10px;">
        <form asp-controller="Admin" asp-action="EditUserPassword" method="post">
            <div class="form-group">
                <label>Login</label>
                <div class="form-row col-12">
                    <input value="@Model.CurrentUserName" type="text" class="form-control col-11" placeholder="Login" disabled autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OldPassword">Stare hasło</label>
                <div class="form-row col-12">
                    <input asp-for="OldPassword" type="password" id="old" class="form-control col-11" placeholder="Stare hasło" autocomplete="off" required>
                    <div class="col-1 justify-content-start align-content-center text-left">
                        <a class="btn btn-xs col-12 text-left justify-content-start" id="show1" data-toggle="tooltip" data-placement="top" title="Pokaż hasło" style="background-color: Transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; max-width: 40px; min-width: 40px; padding-left: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eye" viewBox="0 0 30 30">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Nowe hasło</label>
                <div class="form-row col-12">
                    <input asp-for="NewPassword" type="password" id="new" class="form-control col-11" placeholder="Nowe hasło" aria-describedby="passwordTip" autocomplete="off" required>
                    <div class="col-1 justify-content-start align-content-center text-left">
                        <a class="btn btn-xs col-12 text-left justify-content-start" id="show2" data-toggle="tooltip" data-placement="top" title="Pokaż hasło" style="background-color: Transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; max-width: 40px; min-width: 40px; padding-left: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eye" viewBox="0 0 30 30">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <small id="passwordTip" class="form-text text-muted ml-2">
                    Hasło musi mieć co najmniej 8 znaków, zawierać co najmniej jedną dużą literę, jedną małą literę i jeden znak specjalny.
                </small>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword2">Powtórz nowe hasło</label>
                <div class="form-row col-12">
                    <input asp-for="NewPassword2" type="password" id="new2" class="form-control col-11" placeholder="Powtórz nowe hasło" aria-describedby="passwordTip2" autocomplete="off" required>
                    <div class="col-1 justify-content-start align-content-center text-left">
                        <a class="btn btn-xs col-12 text-left justify-content-start" id="show3" data-toggle="tooltip" data-placement="top" title="Pokaż hasło" style="background-color: Transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; max-width: 40px; min-width: 40px; padding-left: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eye" viewBox="0 0 30 30">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <small id="passwordTip2" class="form-text text-muted ml-2">
                    Hasła muszą być takie same.
                </small>
            </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Zmień hasło</button>
                </div>
        </form>
    </div>
</div>

<table id="courseTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nazwa Kierunku</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Faculty.Courses)
         {
            <tr>
            <td>@v.Name</td>
            <td>
                <div class="row">
                    <a class="btn btn-primary btn-xs mt-1" role="button" data-toggle="tooltip" data-placement="top" title="Lista przedmiotów" asp-controller="Admin" asp-action="SubjectsList" asp-route-course="@v.Name" style="margin-right:5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                    </a>
                    <a class="btn btn-info btn-xs mt-1" role="button" data-toggle="tooltip" data-placement="top" title="Edytuj" asp-controller="Admin" asp-action="EditCourse" asp-route-course="@v.Name" style="margin-right:5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                    </a>
                    <form asp-controller="Admin" asp-action="DeleteCourse" method="post">
                        <input type="hidden" name="scroll" value="courseTable" />
                        <input type="hidden" name="courseName" value="@v.Name" />
                        <button class="btn btn-danger btn-xs mt-1" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </td>
            </tr>
         }
    </tbody>
</table>

<div class="row align-content-center justify-content-center">
    <div class="col-12">
        <form asp-controller="Admin" asp-action="AddCourse" method="post">
            <div class="form-row">
                <div class="form-group col-12">
                    <label asp-for="NewCourseName">Nazwa kierunku</label>
                    <input asp-for="NewCourseName" type="text" class="form-control" placeholder="Podaj nazwę kierunku" style="width: 100%;" required autocomplete="off">
                </div>
            </div>
            <div class="form-group text-center">
                <div class="align-content-center justify-content-center text-center">
                    <button class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                        <span>Dodaj kierunek</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/showPass.js"></script>