<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="lib/twitter-bootstrap/css/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*"/>
    <link rel="shortcut icon" href="~/pictures/logo/logowyd.jpg">
    <title>RMS Max!</title>
    <style>
        html {
            width: 100%;
            min-width: 330px;
        }
        #Creators {
            margin-left: 30px;
        }
        #facultyName {
            font-size: 1.7vw;
            max-width: 90vw;
        }
        #logo { 
            width: 5vw;
        }


        @@media only screen and (max-width: 1300px) {
            #Creators {
                margin-left: 3px;
            }

            #facultyName {
                font-size: 2.1vw;
                max-width: 85vw;
            }
            #logo {
                width: 6vw;
            }
        }
        @@media only screen and (max-width: 1100px) {
            #facultyName {
                font-size: 2.2vw;
                max-width: 83vw;
            }

            #logo {
                width: 7vw;
            }
        }
        @@media only screen and (max-width: 900px) {
            #facultyName {
                font-size: 2.3vw;
                max-width: 81vw;
            }

            #logo {
                width: 8vw;
            }
        }
        @@media only screen and (max-width: 700px) {
            #facultyName {
                font-size: 2.7vw;
                max-width: 79vw;
            }

            #logo {
                width: 9vw;
            }
        }

        @@media only screen and (max-width: 550px) {
            #facultyName {
                font-size: 3.1vw;
                max-width: 75vw;
            }
            #logo {
                width: 10vw;
            }

        }

        @@media only screen and (max-width: 435px) {
            #facultyName {
                font-size: 3.4vw;
                max-width: 70vw;
            }

            #logo {
                width: 12vw;
            }
        }
        @@media only screen and (max-width: 340px) {
            #facultyName {
                font-size: 4vw;
                max-width: 68vw;
            }

            #logo {
                width: 14vw;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar text-wrap justify-content-between" style="background-color: @Model.Faculty.Color;">
        <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-reset text-wrap" style="word-wrap: break-word;"><h1 id="facultyName">@Model.Faculty.Name</h1></a>
        <a class="navbar-brand" href="#">
            <img id="logo" src="~/pictures/logo/@Model.Faculty.Logo" alt="logo">
        </a>
    </nav>
    <div class="container-fluid flex-fill">
        <div class="row wrapper flex-column flex-sm-row min-vh-100 bg-light">
            <aside class=" col-xl-2 col-lg-2 col-md-3 col-sm-4  bg-dark flex-shrink-1">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                    <a class="navbar-brand">MENU</a>
                    <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    <div class="collapse navbar-collapse sidebar">
                        <ul class="flex-column navbar-nav w-100 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Home" asp-action="Index"> <span class="">Strona Główna</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle pl-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Studia
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @foreach (var v in Model.Faculty.Courses)
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Studies" asp-route-course="@v.Name">@v.Name</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Home" asp-action="EmployeeList"> <span class="">Pracownicy</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Home" asp-action="Contact"> <span class="">Kontakt</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col-xl-10 col-lg-10 col-md-9 col-sm-8 bg-light py-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="row mt-auto col-12 bg-dark my-auto justify-content-between align-content-center mx-0 text-wrap p-1" style="height:50px; width:100%;">
        <p class="text-white bg-dark text-wrap pt-2" id="Creators" style="font-size: 13px; max-width:250px;">Strona stworzona przez IOTeam</p>
        <a class="nav-link pl-0 text-decoration-none text-reset" asp-controller="Admin" asp-action="Index"><span style="font-size:13px">Logowanie</span></a>
        <button class="btn btn-primary btn-xs" id="upBtn" data-toggle="tooltip" data-placement="top" title="Do góry" style="max-height:40px; max-width:40px; margin-top:3px; margin-bottom:3px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
            </svg>
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tooltips.js"></script>
    <script src="~/js/goTop.js"></script>
    <script src="https://skrypt-cookies.pl/id/bf827fcb5a643e4f.js"></script>

</body>
</html>
