@model AricleViewModel

<style>
    .showText p, .showText h2, .showText h3, .showText h4 {
        width: 100%;
    }
</style>

<div>
  
    <div class="container-fluid padding">
        <div class="row padding showText">
            @if (string.IsNullOrEmpty(Model.Article.PhotoIn) == true)
            {
                <h4 style="width: 100%;">@Model.Article.Title</h4>
                @Html.Raw(Model.Article.Content)
                   
            }
            else
            {
                <div class="col-lg-6">
                    <h4 style="width: 100%;">@Model.Article.Title</h4>
                    @Html.Raw(Model.Article.Content)
                </div>
                <div class="col-lg-6">
                    @{string picfile = "/pictures/picsArticle/" + @Model.Article.PhotoIn;}
                    <img src="@picfile" class="img-fluid" />
                </div>
            }
        </div>
    </div>
</div>