@model ContactViewModel

<div>
    @Model.FacultyInfo.Name
    @Model.FacultyInfo.Street
    @Model.FacultyInfo.Postcode
    @Model.FacultyInfo.City
    @Model.FacultyInfo.Phone
    @Model.FacultyInfo.Email
</div>